// Widescreens
@include mediaXl {
  .projects {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 8rem;
  }  
}

// Desktops & Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 8rem;
    }
}

// Tablets & Small Laptops
@include mediaMd {
    .body {
        overflow-x: hidden;
    }
    

    .menu-nav {
        position: absolute;
        padding-bottom: 100px;
        right: 0px;
        height: 92vh;
        top: 15vh;
        background-color: #222;
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;

        /* li{
            opacity: 0; 
        } */
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes menuNavFade {
        from { 
             opacity: 0;
             transform: translateX(50px);
        }
        to {
             opacity: 1;
             transform: translateX(0px);
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }

    .main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    .about-info {
        grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 8rem;
    }



}

// Smartphones
@include mediaSm {

    .main {        
        #work {
            padding: 0;
        }

    }

    .thumbs {
        padding: 1rem;
    }
    
    .examples {
        padding: 1rem;
    }
    
    .projects {
        grid-template-columns: 2 1fr;


    }

    .examples .intro img {
        margin-top: 8em;
    }

    .examples .description {
        display: block;

        .client{
            padding: 1em 0;
        }




    }

    .client {

        padding: 0px;
    }



  
}

